<div class="container">
  <button class="btn btn-sm btn-dark mb-2" (click)="this.showForm=!this.showForm">Show Form</button>
  <div class="row">
    <div class="col-sm-12">
      <app-meal-form *ngIf="showForm" (updatedMeal)='onUpdatedMeal($event)' [isEdit]="isEdit" [newFood]="currentMeal"
        (newFoodOut)="onNewFood($event)"></app-meal-form>
    </div>
  </div>


  <div class="card-div">
    <div class="card mb-2" *ngFor="let meal of _meals">
      <div class="card-header">
        <h3 class="card-title text-primary">{{meal.name}}</h3>
        <small class="text-muted">id:{{meal.id}}</small>

      </div>
      <div class="card-body">
        <ul class="list-group list-flush mb-2">
          <li class="list-group-item">Calories:{{meal.calories}}</li>
          <li class="list-group-item card-text">Description:{{meal.details}}</li>
        </ul>
      </div>
      <div class=" card-footer d-flex align-items-center justify-content-between">
        <button class="btn btn-sm btn-outline-info" (click)="editMeal(meal)"> <i class="fa fa-pencil"></i></button>
        <button class="btn btn-sm btn-outline-danger" (click)="deleteMeal(meal)"> <i class="fa fa-remove"></i></button>
      </div>
    </div>
  </div>




  <!-- <app-meal-posts (editedMeal)="onEditedMeal($event)"></app-meal-posts> -->


</div>
