/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("https://images.pexels.com/photos/326281/pexels-photo-326281.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") !important;
  background-size: cover;
  background-attachment: fixed;
}

.card-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 10px;
}
